:root {
    --green: #19843e;
    --green-100: #134b21;
    --black: #161111;
    --aside-color: #d7dcd7;
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

ul li {
    list-style-type: none;
    list-style-position: inside;
}

button {
    display: inline-block;
    appearance: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    font: inherit;
    outline: 0;
}

html,
body {
    min-height: 100vh;
}

input,
textarea,
select,
button {
    font: inherit;
    appearance: none;
    border: none;
    outline: 0;
}

a {
    text-decoration-color: transparent;
    color: inherit;
    transition: text-decoration-color 0.4s ease-in-out;
}

img {
    display: block;
    max-width: 100%;
}

figure {
    margin: 0;
}

fieldset {
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
    border: 1px solid var(--green-100);
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Main */
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.main__content {
    padding: 30px 10px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 900;
    color: var(--green-100);
}

.link {
    position: relative;
    padding-bottom: 0.3rem;
    color: var(--green);
}

.link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.1rem;
    background-color: var(--green);
    transition: all 0.4s ease-in;
    transform: translateX(-50%);
}

.link:hover::before {
    width: 100%;
    color: var(--green);
}

/* Aside */
.aside__content {
    padding: 0 10px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--aside-color);
}

.personal__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.personal__title {
    font-size: 35px;
}

.personal__photo {
    border-radius: 50%;
}

.personal__subtitle {
    font-size: 20px;
}

.contacts__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding: 0px;
}

.contacts__item:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.contacts__item-detail {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.item {
    position: relative;
    margin-bottom: 5px;
    padding-left: 15px;
    line-height: 30px;
    letter-spacing: normal;
}

.item::before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--green-100);
}

.skills__title {
    font-weight: 700;
    color: var(--green-100);
}

.footer {
    padding: 10px;
    border-top: 1px solid var(--green-100);
}

.cv__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img__container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.img__block {
    padding: 10px;
}

@media (max-width: 840px) {
    .main {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .aside__content {
        width: 100%;
    }
}


@media (max-width: 540px) {
    body {
        font-size: 18px;
    }

    .title {
        font-size: 25px;
    }
}